
#wb_header { height: 1095px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 150px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 286px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: transparent url("../gallery_gen/2079e2d8aeb6ea9873df4cce6fa5f8ee.jpg") repeat-x scroll center top; background-size: cover; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1531px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1481px; overflow: visible; min-height: 1531px; }
#wb_element_instance25 { top: -10px; left: 480px; min-width: 200px; width: 200px; min-height: 130px; height: 130px; display: block; z-index: 219; }
#wb_element_instance25 img { width: 200px; height: 130px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { top: 200px; left: 240px; min-width: 160px; width: 160px; min-height: 210px; height: 210px; display: block; z-index: 197; }
#wb_element_instance26 img { width: 160px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance27 { top: 120px; left: 480px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; z-index: 214; }
#wb_element_instance27 img { width: 200px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance28 { top: 200px; left: 460px; min-width: 240px; width: 240px; min-height: 210px; height: 210px; display: block; z-index: 241; }
#wb_element_instance28 img { width: 240px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance29 { top: 200px; left: 760px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 242; }
#wb_element_instance29 img { width: 220px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance30 { top: 431px; left: 800px; min-width: 150px; width: 150px; min-height: 40px; height: 40px; display: block; z-index: 227; }
#wb_element_instance30 img { width: 150px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance31 { top: 430px; left: 450px; min-width: 290px; width: 290px; min-height: 40px; height: 40px; display: block; z-index: 228; }
#wb_element_instance31 img { width: 290px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance32 { top: 511px; left: 240px; min-width: 200px; width: 200px; min-height: 210px; height: 210px; display: block; z-index: 239; }
#wb_element_instance32 img { width: 200px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance33 { top: 511px; left: 500px; min-width: 210px; width: 210px; min-height: 210px; height: 210px; display: block; z-index: 243; }
#wb_element_instance33 img { width: 210px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance34 { top: 510px; left: 760px; min-width: 210px; width: 210px; min-height: 210px; height: 210px; display: block; z-index: 222; }
#wb_element_instance34 img { width: 210px; height: 210px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance35 { top: 731px; left: 740px; min-width: 250px; width: 250px; min-height: 40px; height: 40px; display: block; z-index: 231; }
#wb_element_instance35 img { width: 250px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { top: 731px; left: 560px; min-width: 80px; width: 80px; min-height: 40px; height: 40px; display: block; z-index: 230; }
#wb_element_instance36 img { width: 80px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { top: 731px; left: 300px; min-width: 80px; width: 80px; min-height: 40px; height: 40px; display: block; z-index: 229; }
#wb_element_instance37 img { width: 80px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance38 { top: 793px; left: 420px; min-width: 360px; width: 360px; min-height: 60px; height: 60px; display: block; z-index: 234; }
#wb_element_instance38 img { width: 360px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 853px; left: 420px; min-width: 360px; width: 360px; min-height: 250px; height: 250px; display: block; z-index: 238; }
#wb_element_instance39 img { width: 360px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 1113px; left: 430px; min-width: 340px; width: 340px; min-height: 250px; height: 250px; display: block; z-index: 245; }
#wb_element_instance40 img { width: 340px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 1113px; left: 800px; min-width: 330px; width: 330px; min-height: 240px; height: 240px; display: block; z-index: 240; }
#wb_element_instance41 img { width: 330px; height: 240px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance42 { top: 1119px; left: 80px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; z-index: 248; overflow: hidden; }
#wb_element_instance42 img { width: 343.75px; height: 250px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance43 { top: 430px; left: 230px; min-width: 190px; width: 190px; min-height: 40px; height: 40px; display: block; z-index: 224; }
#wb_element_instance43 img { width: 190px; height: 40px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance44 { top: 20px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance45 { top: 20px; left: 0px; display: block; z-index: 9999; }




@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
